.details{
    position: absolute;
    margin: 20px;
    width: 320px;
    top: 20%;
    right:20px;
    padding: 20px;
    background-color: #8de5fd;
    font-family: sans-serif;
    z-index: -1;
    border: solid 1px;
    border-radius: 10px;
}

.card-body{
    max-height: 270px;
    overflow: auto;
}

.card-footer{
    border-top: none;
}

@media (max-width: 550px) {
    .details{
        bottom: 20px;
        top: auto;
        width: 90%;
        left: auto;
        right: auto;
    }
}