<form style="background: transparent; padding: 10px">
  <app-location-input
    id="Source"
    [inputText]="HomeService.srcLocation?.place_name"
    (SetLocationEvent)="setSrc($event)"
    (SetCurLocationEvent)="setAsCurLocation()"
    (chosefromMap)="srcOnMap()"
  ></app-location-input>
  <i class="fa-sharp fa-solid fa-arrow-right fa-lg"></i>
  <app-location-input
    id="Destination"
    [inputText]="HomeService.destLocation?.place_name"
    (SetLocationEvent)="setDest($event)"
    (chosefromMap)="destOnMap()"
  ></app-location-input>
</form>
<div class="gps">
  <button style="border-radius: 50%" (click)="getCurrentLocation()">
    <i class="fa-solid fa-location-arrow"></i>
  </button>
</div>
<div id="map"></div>

<app-route-details *ngIf="HomeService.Distance" (removeListnerEvent)="removeListner()"></app-route-details>
<app-rides  *ngIf="HomeService.searchingRide"></app-rides>