<div class="body">
  <div class="main">

    <div *ngIf="!forgetpassword">
      <input type="checkbox" id="chk" aria-hidden="true"  (change)="checkValue($event)" />

      <div class="signup">
        <form (ngSubmit)="onSubmit(signupform)" #signupform="ngForm" *ngIf="!isLoading">
          <label for="chk" aria-hidden="true">Sign up</label>

          <div class="input-control">
            <input type="text" class="form-control" id="name" ngModel required name="Name" placeholder="Name" required #name="ngModel"/>
            <span class="alert" *ngIf="!name.valid && name.touched">*Enter Valid Name</span>
          </div>

          <div class="input-control">
            <input type="email" class="form-control" id="email" ngModel required name="Email" placeholder="Email" required email #email="ngModel"/>
            <span class="alert" *ngIf="!email.valid && email.touched">*Enter valid Email</span>
          </div>

          <div class="input-control">
            <input type="number" class="form-control" id="mobileNo" ngModel required name="MobileNo" placeholder="Mobile NO." required min="1000000000" max="9999999999" #mobile="ngModel"/>
            <span class="alert" *ngIf="!mobile.valid && mobile.touched">*Enter Valid Mobile Number</span>
          </div>

          <div class="input-control">
            <input class="col-11" type="password" class="form-control" id="password" placeholder="Password" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$" required ngModel name="Password" required minlength="6" #password="ngModel"/>
            <span class="alert" *ngIf="!password.valid && password.touched">*Password Must contain Minimum 6 characters, One UpeerCase Letter, One LowerCase Letter, One number,and One special Character. </span>
          </div>

          <div class="input-control">
            <input class="col-11" type="text" class="form-control" id="confirmPassword" placeholder="Confirm Password" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$" required ngModel name="ConfirmPassword" required minlength="6" #confirmPassword="ngModel"/>
            <span class="alert" *ngIf="!confirmPassword.valid && confirmPassword.touched">*Password Must contain Minimum 6 characters, One UpeerCase Letter, One LowerCase Letter, One number,and One special Character. </span>
            <span class="alert" *ngIf="password.value !== confirmPassword.value && confirmPassword.touched">*confirm password don't match password</span>
          </div>
      
          <button class="button" [disabled]="!signupform.valid">Sign up</button>
        </form>
        <div class="d-flex justify-content-center my-auto" *ngIf="isLoading">
          <div class="spinner-border text-primary"  role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
        </div>
      </div>

      <div class="login">
        <form (ngSubmit)="onSubmit(loginform)" #loginform="ngForm" *ngIf="!isLoginLoading">
          <label for="chk" aria-hidden="true">Login</label>

          <div class="input-control">
            <input type="email" class="form-control" id="loginEmail" ngModel required name="Email" placeholder="Email" required email #loginEmail="ngModel"/>
            <span class="alert" *ngIf="!loginEmail.valid && loginEmail.touched">*Enter valid Email</span>
          </div>

          <div class="input-control">
            <div class="row">
              <input type="password" class="form-control col-10" id="loginPassword" placeholder="Password" required ngModel name="Password" required minlength="6" #loginPassword="ngModel" #password1/>
              <span class="col-2" style="margin-left: -40px; margin-top: 5px;" ><i class="fa-solid fa-eye" role="button" (click)="showPassword(password1)"></i></span>
            </div>
            
            <span class="alert" *ngIf="!loginPassword.valid && loginPassword.touched">*Enter valid Password</span>
          </div>

          
          <button class="button" [disabled]="!loginform.valid">Login</button>

          <div class="input-control"><a role="button" (click)="toggleFP()">Forgot Password?</a></div>
        </form>

        <div class="input-control" *ngIf="error">
          <span class="alert">*Invalid Email or Password!!</span>
        </div>

        <div class="d-flex justify-content-center my-auto" *ngIf="isLoginLoading">
          <div class="spinner-border text-primary"  role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
        </div>

      </div>
    </div>

    <div *ngIf="forgetpassword">
        <label style="text-align: center;">Forget Password</label>

        <div class="input-control">
          <input type="email" class="form-control" id="email" ngModel required name="Email" placeholder="Email" required email #email="ngModel"/>
          <span class="alert" *ngIf="!email.valid && email.touched">*Enter valid Email</span>
        </div>

        <button class="button" [disabled]="!email.valid" (click)="resetPassword(email)">Reset Password</button>

        <div class="input-control"><a role="button" (click)="toggleFP()">Login Here</a></div>
    </div>
  </div>
</div>


 
  

