<div class="body">
  <div class="main">
    <input type="checkbox" id="chk" aria-hidden="true"  (change)="checkValue($event)" />
  
    <div class="signup">
      <form (ngSubmit)="onSubmit(signupform)" #signupform="ngForm" *ngIf="!isLoading">
        <label for="chk" aria-hidden="true">Sign up</label>
        <div class="input-control">
          <input type="text" class="form-control" id="name" ngModel required name="Name" placeholder="Name" required #name="ngModel"/>
          <span class="alert" *ngIf="!name.valid && name.touched">*Enter Valid Name</span>
        </div>
        <div class="input-control">
          <input type="email" class="form-control" id="email" ngModel required name="Email" placeholder="Email" required email #email="ngModel"/>
          <span class="alert" *ngIf="!email.valid && email.touched">*Enter valid Email</span>
        </div>
        <div class="input-control">
          <input type="number" class="form-control" id="mobileNo" ngModel required name="MobileNo" placeholder="Mobile NO." required min="1000000000" max="9999999999" #mobile="ngModel"/>
          <span class="alert" *ngIf="!mobile.valid && mobile.touched">*Enter Valid Mobile Number</span>
        </div>
        <div class="input-control">
          <input type="password" class="form-control" id="password" placeholder="Password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" required ngModel name="Password" required minlength="6" #password="ngModel"/>
          <span class="alert" *ngIf="!password.valid && password.touched">*Password Must contain Minimum 6 characters, One UpeerCase Letter, One LowerCase Letter, One number,and One special Character. </span>
        </div>
        <button>Sign up</button>
      </form>
      <!-- <div class="d-flex justify-content-center my-auto">
        <div
          class="spinner-border text-primary"
          *ngIf="isLoading"
          role="status"
        >
          <span class="visually-hidden">Loading...</span>
        </div>
      </div> -->
    </div>
  
    <div class="login">
      <form (ngSubmit)="onSubmit(loginform)" #loginform="ngForm" *ngIf="!isLoading">
        <label for="chk" aria-hidden="true">Login</label>
        <div class="input-control">
          <input type="email" class="form-control" id="loginEmail" ngModel required name="Email" placeholder="Email" required email #loginEmail="ngModel"/>
          <span class="alert" *ngIf="!loginEmail.valid && loginEmail.touched">*Enter valid Email</span>
        </div>
        <div class="input-control">
          <input type="password" class="form-control" id="loginPassword" placeholder="Password" required ngModel name="Password" required minlength="6" #loginPassword="ngModel"/>
          <span class="alert" *ngIf="!loginPassword.valid && loginPassword.touched">*Enter valid Email</span></div>
        <button>Login</button>
      </form>

      <div class="input-control" *ngIf="error">
        <span class="alert">*Invalid Email or Password!!</span>
      </div>

      <div class="d-flex justify-content-center my-auto">
        <div
          class="spinner-border text-primary"
          *ngIf="isLoading"
          role="status"
        >
          <span class="visually-hidden">Loading...</span>
        </div>
      </div>
    </div>


  </div>
</div>


 
  

