<nav class="navbar">
  <div class="container-fluid">
    <a class="navbar-brand" role="button" [routerLink]="['/']">
      <h3>Share-Ride</h3>
    </a>
    <div class="d-flex">
      <a class="btn" role="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">
        <i class="fa-solid fa-bars fa-xl"></i>
      </a>
    </div>
    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
      <div class="offcanvas-header">
        <h2>User</h2>
      </div>
      <div class="offcanvas-body">
        <ul>
          <li>
            <a type="button" routerLink="/home" class="row">
              <div class="col-2"><i class="fa-solid fa-house fa-lg col-2"></i></div>
              <div class="col-10"><h5 class="col-10">Home</h5></div>
            </a>
          </li>
          <li>
            <a type="button" routerLink="/profile" class="row">
              <div class="col-2"><i class="fa-solid fa-user fa-lg"></i></div>
              <div class="col-10"><h5>Profile</h5></div>
            </a>
          </li>
          <li>
            <a type="button" routerLink="/vehicles" class="row">
              <div class="col-2"><i class="fa-solid fa-car fa-lg"></i></div>
              <div class="col-10"><h5>Your Vehicles</h5></div>
            </a>
          </li>
        </ul>
      </div>
      <div class="offcanvas-footer">
        <ul>
          <li>
            <a type="button" (click)="logout()" class="row">
              <div class="col-1"><i class="fa-solid fa-power-off fa-lg"></i></div>
              <div class="col-11"><h5>Logout</h5></div>
            </a>
        </li>
    </ul>
      </div>
    </div>
  </div>
</nav>
