<div class="details card" *ngIf="HomeService.ridetoTake">
  <div class="card-body">
    Driver:{{ HomeService.ridetoTake.user.Name }} <br />
    Vehicle: {{ HomeService.ridetoTake.vehicle.ModelName }}<br />
    VehicleNo: {{ HomeService.ridetoTake.vehicle.VehicleNo }} <br />
    <p *ngIf="HomeService.OTP"> OTP: {{ HomeService.OTP }}</p> 
  </div>
  <div class="card-footer" style="background: none">
    <button class="btn btn-danger mt-2" (click)="CanceltakenRide()">
      Cancel Ride
    </button>
  </div>
</div>

<div class="details card" *ngIf="HomeService.acceptedRides.length !== 0">
  <div
    class="card-body"
    *ngFor="let ride of HomeService.acceptedRides, let i=index"
    (click)="onclick(ride)"
  >
    <h6>Name:{{ ride.user.Name }}</h6>
    <h6>PickUp: {{ ride.pickUpPoint.place_name }}</h6>
    <h6>Drop:{{ ride.DropPoint.place_name }}</h6>
    <button
      class="btn btn-warning mt-2"
      style="float: right"
      data-bs-toggle="modal"
      [attr.data-bs-target]="'#modal'+i"
      *ngIf="ride.Status === 'Booked'"
    >
      Enter OTP
    </button>
    <button
    class="btn btn-warning mt-2"
    style="float: right"
    id="endRide"
    *ngIf="ride.Status === 'Started' || ride.Status === 'RequestedToEnd'"
    (click)="RequestToEndRide($event,ride._id)"
    [disabled] = "ride.Status === 'RequestedToEnd'"
  >
    {{ ride.Status === 'RequestedToEnd' ? 'Requested To End' : 'End Ride' }}
  </button>

    <div class="modal fade" tabindex="-1" [attr.id]="'modal'+i" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Enter OTP</h1>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <form #form="ngForm">
            <div class="modal-body">
              <input
                type="text"
                name="otp"
                minlength="4"
                maxlength="4"
                required
                ngModel
                #otp="ngModel"
              />
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary"
                data-bs-dismiss="modal"
              >
                Close
              </button>
              <button
                type="button"
                class="btn btn-primary"
                (click)="submitOTP(form,ride._id)"
                [disabled]="!otp.valid"
                data-bs-dismiss="modal"
              >
                Submit
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>

  </div>

  <div class="card-footer" style="background: none">
    <button class="btn btn-danger mt-2" (click)="CancelOfferedRide()">
      Cancel Ride
    </button>
  </div>
</div>


<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Reached At Destination</h5>
        
      </div>
      <div class="modal-body">
        You have Reached At YOur Destination.Please pay RS.{{this.HomeService.cost?.toFixed(2)}}
      </div>
      <div class="modal-footer">
        
        <button type="button" class="btn btn-primary">Pay</button>
      </div>
    </div>
  </div>
</div>
